body {
  padding-top: 50px;
}

.navbar-brand {
  font-weight: 800;
}

.navbar-brand img {
  width: 24px;
}
.nav-right{
  background-color: #fcfcfc;
  border-radius: 3px;
  float: right;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  margin-top: 0.3em;
  padding-left: 0.7em;
  width: 120px;
}
